    @media only screen and (max-width: 1024px) {}
    @media only screen and (max-width: 768px) {
        .bv-main-header {
            .navbar-default {
                .navbar-header {
                    .navbar-brand {
                        font-size : 28px;
                    }
                }
                .navbar-nav {
                    font-size : 15px;
                }
            }
        }
    }
    @media only screen and (max-width: 425px) {
        .bv-main-header {
            .navbar-default {
                .navbar-collapse {
                    border: none;
                    background-color: #fff;
                    position: relative;
                    z-index: 1;
                    border-bottom: 1px solid #e3e3e3;
                    border-radius: 0 30px 30px 30px;
                    box-shadow: -2px 4px 10px #e3e3e3;
                }
                .navbar-nav {
                    li {
                        a {
                            color: var(--main-color);
                        }
                    }
                }
            }
        } 
    }
    @media only screen and (min-width: 375px) {}
    @media only screen and (max-width: 320px) {}