:root {
///////////////// Colors
    // Background Colors
    --main-color: #57518d;
    --second-color: #B58ABC;
    --third-color: #000;
    --fourth-color : #FFF;
    
    // Text Colors
    --main-title-color: #3A3A3A;
    --main-text-color: #9B9B9B;
    --white-text-color: #fff;
    --black-text-color: #000;

    // Buttons Colors
    --main-btn-color: #f15a25;

 ///////////////// Fonts
    // Title
    --main-title-font: 'Harlow';

    // Subtitle
    --main-subtitle-font: 'Harlow';

    // Text
    --main-text-font: 'Roboto';
}
